[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/phucvin/go/src/hello/hello
WorkingDirector=/home/phucvin/go/src/hello
User=tom
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n